<template>
  <div class="container">
    <div class="row">
      <form class="form-horizontal col-md-12" @submit.prevent method="post">
        <div class="col-md-12 col-lg-12">
          <div class="form-group">
            <label for="firstname_th">ชื่อ ภาษาไทย</label>
            <input
              type="text"
              name="firstname_th"
              v-model="user.firstname_th"
              class="form-control"
              placeholder="สมชาย"
              required
            />
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="form-group">
            <label for="lastname_th">นามสกุล ภาษาไทย</label>
            <input
              type="text"
              name="firstname_th"
              v-model="user.lastname_th"
              class="form-control"
              placeholder="สายชน"
              required
            />
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="form-group">
            <label for="firstname_en">ชื่อ ภาษาอังกฤษ</label>
            <input
              type="text"
              name="firstname_en"
              v-model="user.firstname_en"
              class="form-control"
              placeholder="john xxx"
              required
            />
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="form-group">
            <label for="lastname_en">นามสกุล ภาษาอังกฤษ</label>
            <input
              type="text"
              name="firstname_en"
              v-model="user.lastname_en"
              class="form-control"
              placeholder="xxx value"
              required
            />
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="form-group">
            <label for="gender">เพศ</label>
            <select
              type="text"
              name="gender"
              v-model="user.gender"
              class="form-control"
              placeholder="เพศ"
              required
            >
              <option value="1">ชาย</option>
              <option value="2">หญิง</option>
            </select>
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="form-group">
            <label for="tel">เบอร์ติดต่อ</label>
            <input
              type="text"
              name="tel"
              v-model="user.tel"
              class="form-control"
              placeholder="tel"
              required
              minlength="7"
              maxlength="10"
            />
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="form-group">
            <label for="tel">E-mail</label>
            <input
              type="email"
              name="email"
              v-model="user.email"
              class="form-control"
              placeholder="email"
              required
            />
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="form-group">
            <label for="address">ที่อยู่</label>
            <input
              type="text"
              name="address"
              v-model="user.address"
              class="form-control"
              placeholder="address"
              required
            />
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="form-group">
            <label for="identity">เลขบัตรประชาชน</label>
            <input
              type="text"
              name="identity"
              v-model="user.identity"
              class="form-control"
              placeholder="identity"
              required
              minlength="13"
              maxlength="13"
            />
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="form-group">
            <label for="salary">เงินเดือน</label>
            <input
              type="number"
              name="salary"
              v-model="user.salary"
              class="form-control"
              placeholder="salary"
              required
              minlength="20"
            />
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <button type="submit" class="btn btn-primary" @click="submitform()">
            ส่งข้อมูล
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Swal from "sweetalert2";
export default {
  mounted() {
    console.log("Component mounted.");
  },
  data() {
    return {
      user: {
        firstname_th: "",
        lastname_th: "",
        firstname_en: "",
        lastname_en: "",
        gender: "",
        address: "",
        tel: "",
        email: "",
        identity: "",
        salary: "",
      },
    };
  },
  methods: {
    submitform() {
      if (this.checkIdentity(this.user.identity)) {
        axios.post("/api/users", this.user).then((res) => {
          Swal.fire("สำเร็จ");
          this.user = {
            firstname_th: "",
            lastname_th: "",
            firstname_en: "",
            lastname_en: "",
            gender: "",
            address: "",
            tel: "",
            email: "",
            identity: "",
            salary: "",
          };
        });
      } else {
        Swal.fire("เลขบัตรประชาชน ผิด");
      }
    },
    checkIdentity(id) {
      if (id.substring(0, 1) == 0) return false;
      if (id.length != 13) return false;
      for (var i = 0, sum = 0 ; i < 12; i++)
        sum += parseFloat(id.charAt(i)) * (13 - i);
      if ((11 - (sum % 11)) % 10 != parseFloat(id.charAt(12))) return false;
      return true;
    },
  },
};
</script>
